@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
$space-grotesk: 'Space Grotesk', sans-serif;

// Colors //
$bg-body: #151515;
$bg-contact: #242424;
$accent: #4EE1A0;
$text-2: #D9D9D9;
$invalid: #FF6F5B;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $space-grotesk;
    background-color: $bg-body;
}

