@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

/* GLOBAL */

:root {
    --bg-body: #151515;
    --bg-contact: #242424;
    --accent: #4EE1A0;
    --text-1: white;
    --text-2: #D9D9D9;
    --invalid: #FF6F5B;
    --fs-18: 1.125rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-72: 4.5rem;
    --fs-88: 5.5rem;
    --container: 69.375;
    --transition: 250ms ease-in-out;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--bg-body);
    color: var(--text-1);
    font-size: var(--fs-18);
    line-height: 1.56;
}

.header__social svg {
    display: block;
}

a {
    transition: color var(--transition);
}

a:hover {
    color: var(--accent);
}

.header__social > svg > path {
    transition: fill var(--transition);
}

.header__social:hover > svg > path {
    fill: var(--accent);
}

.wrapper {
    width: calc(100% - 2rem);
    max-width: var(--container);
    margin-inline: auto;
}

@media (min-width: 37.5em) { /* 600px */
    .wrapper {
        width: calc(100% - 3.75rem);
    }
}

.header {
    margin-top: 20px;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
}

.header__home {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    color: var(--text-1);
    line-height: 1;
    text-decoration: none;
    flex: 1 0 100%;
}

@media (min-width: 37.5em) {
    .header__nav {
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }
    .header__home {
        flex: 1;
        margin-inline-end: auto;
    }
}